<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link rel="stylesheet" href="../../static/css/bootswatch/bootstrap.min.css" th:href="@{css/bootswatch/bootstrap.min.css}"/>
<link rel="stylesheet" href="../../static/css/style.css" th:href="@{css/style.css}"/>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>

	<!-- navigation menu -->
	<div data-th-replace="fragments/header::header"></div>
	<!-- /end navigation menu -->


	<div class="">
	<div class="container">
		<div data-layout-fragment="content" ></div>
		</div>
	</div>

	<!-- navigation menu -->
	<div data-th-replace="fragments/footer :: footer"></div>
	<!-- /end navigation menu -->
	
</body>