<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{fragments/main}">
<head>
<html>
<head>
<title>Register</title>

</head>
<body>

	<div data-layout-fragment="content">


		<div class="pricing-header px-3 pt-md-5 pb-md-4 mx-auto text-center">
			<h1 class="display-4">Create a question</h1>
			<p class="lead">In field below define your question, answers and
				assign individual members or teams.</p>
		</div>


		<form th:action="@{/profile/addQuestion}" method="post"
			th:object="${request}">

			<div class="card border-primary border-light shadow">
				<div class="card-header">
					<input class="form-control invisible-form-control"
						required="required" placeholder="Type your question here*" th:field="*{text}" />

				</div>


				<div class="card-body m-0 text-center">
					<small class="text-muted mb-1 d-block">Type in to add
						optional answers*</small>


					<div class="input-group">
						<input type="text" id="in" class="form-control"
							placeholder="Type your option here"
							aria-label="Recipient's username" aria-describedby="basic-addon2" />
						<div class="input-group-append">
							<button class="btn btn-secondary" type="button"
								onclick="clicked()">Add option</button>
						</div>

					</div>
					<small id="optionError" class="text text-danger"
						th:if="${#fields.hasErrors('optionParams')}"
						th:errors="*{optionParams}"></small>
				</div>

				
				<div class="px-3 mb-2">
					<div class="btn-group d-flex">
						<a href="/profile" class="w-100 btn btn-outline-secondary">Cancel</a>
						<input type="submit" class="w-100 btn btn-secondary"
							value="Create question" />

					</div>
				</div>

				<!-- Check boxes -->
				
				<div class="row px-3">
					<div class="col">
							<div class="form-check form-check-inline">
							  <input class="form-check-input" type="checkbox" th:field="*{isPublic}" name="isPublic" onclick="disablePublic()" id="chkPublic"/>
							  <label class="form-check-label small text-muted" for="chkPublic" >Make question public</label>
							</div>
						
							<div class="form-check form-check-inline">
							  <input class="form-check-input" type="checkbox" th:field="*{isForEachTeam}" name="isForEachTeam" id="chkTeams" onclick="disableTeam()" th:checked="${isForEachTeam}"/>
							  <label class="form-check-label small text-muted" for="chkTeams">Assign question to each team individually</label>
							</div>
							
							<div class="form-check form-check-inline">
							  <input class="form-check-input" type="checkbox" th:field="*{isIncludeMe}" id="chkIncludeMe" name="isIncludeMe"/>
							  <label class="form-check-label small text-muted" for="chkIncludeMe">Add me as a voter</label>
							</div>
					</div>
				</div>
						
				<!-- END: Check boxes -->
				
				<!-- Options -->
				
				<div id="options" class="px-2 text-center">
					<span id="optionInfo" class="text-muted d-block">Click on option to delete</span>
				</div>

				<!-- END: Options -->

				<!-- User register -->
				<div id="teamSelectionDiv">
					<div class="card-header text-muted">Select team you want to
						ask</div>
	
					<div class="row p-3">
						<div class="col">
							<div class="form-group">
								<select name="" id="teamSelection" multiple="multiple" class="form-control" th:field="*{teams}" size="10">
									<option th:value="${team.teamId}" th:each="team : ${teams}"
										th:text="${team.title}" name='teams'>Hello</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<!-- END: User register -->



			</div>

		</form>



		<script type="text/javascript">
			$(document).ready(function(event) {
				console.log("ready!");
				$('#optionInfo').css("visibility", "hidden");

				/*
				 * Binding enter key to keyup, and prevent form enter key presed
				 */
				$(window).keydown(function(event) {
					if (event.keyCode == 13) {
						event.preventDefault();
						return false;
					}
				});

				$('#in').keyup(function(event) {
					if (event.keyCode == 13) {
						clicked();
					}
				});

			});

			function clicked() {
				var input = $("#in");
				var text = input.val();

				if (text.trim() === '') {
					console.log('cant be empty');
					return;
				}

				input.val("");

				var options = $("#options");
				var customDiv = $("<input name='optionParams' th:field='k*{optionParams}' class='btn btn-md btn-outline-secondary mb-1 mr-1' readonly onclick='deleteOption(event)''/>");
				customDiv.val(text);

				options.append(customDiv);
				$('#optionInfo').css("visibility", "visible");
				$('#optionError').css("visibility", "hidden");

			}

			function deleteOption(event) {
				var option = event.target;
				console.log(option);
				option.remove();

				var options = $("#options > input").length;
				if (options == 0) {
					$('#optionInfo').css("visibility", "hidden");
				}
			}
			
			var chkPublic = 1;
			function disablePublic(){
				if(chkPublic === 1){
					$("#chkTeams").prop("disabled", true );
					$("#teamSelection").hide();
					$("#teamSelection").prop("disabled", true );
					$("#teamSelectionDiv").hide();
					$("#chkIncludeMe").prop("disabled", true );
					
					chkPublic *= -1;
				} else{
					$("#chkTeams").prop("disabled", false );
					$("#teamSelection").prop("disabled", false );
					$("#teamSelectionDiv").show();
					$("#teamSelection").show();
					$("#chkIncludeMe").prop("disabled", false);
					chkPublic *= -1;
				}		
			}
			
			var chkTeam = 1;
			function disableTeam(){
				if(chkTeam === 1){
					$("#chkPublic").prop("disabled", true );
					chkTeam  *= -1;
				} else{
					$("#chkPublic").prop("disabled", false );
					chkTeam  *= -1;
				}
			}
		</script>

<br>
	</div>
</body>
</html>