<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{fragments/main}">
<head>
<html>
<head>
<title>Register</title>

</head>
<body>

	<div data-layout-fragment="content">

		<div
			class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
			<h1 class="display-4">
				Hello <span
					th:text="${#authentication.getPrincipal().getUsername()}"></span>
			</h1>
			<p class="lead">Quickly access all resources and build an
				effective decision for your potential ideas.</p>
		</div>



		<div class="">
		
				<div th:if="${(param.addQuestion != null)}">
			<div class="alert alert-dismissible alert-light">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Great!</strong> You just created a <a href="#" class="alert-link">
					new question</a>. Click on the link to view it.
			</div>
		</div>
		
			<div class="card-deck mb-3 text-center">
				<div class="card mb-4 shadow">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">Ask question</h4>
					</div>
					<div class="card-body">
						<h1 class="card-title pricing-card-title m-0" th:text="${#lists.size(user.questions)}">9</h1>
						<p class="lead text-muted mb-3">asked questions</p>
						<a href="/profile/addQuestion"
							class="btn btn-lg btn-block btn-outline-primary">Create new
							question</a> 
							<a href="/profile/showAskedQuestions" class="btn btn-lg btn-block btn-outline-primary">Show all questions</a>

					</div>
				</div>
				<div class="card mb-4 shadow">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">Voting</h4>
					</div>
					<div class="card-body">
						<h1 class="card-title pricing-card-title m-0">5</h1>
						<p class="lead text-muted mb-3">to answer</p>
						<a href="#" class="btn btn-lg btn-block btn-outline-primary">Pick
							random</a> <a href="#"
							class="btn btn-lg btn-block btn-outline-primary">Show all
							questions</a> <a href="#"
							class="btn btn-lg btn-block btn-outline-primary">Show all
							voted</a>
					</div>
				</div>
				
				<div class="card mb-4 shadow">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">Team</h4>
					</div>
					<div class="card-body">
						<h1 class="card-title pricing-card-title m-0" th:text="${#lists.size(user.ownsTeams)}">5</h1>
						<p class="lead text-muted mb-3">created teams</p>
						<a href="#" class="btn btn-lg btn-block btn-outline-primary">Create
							a team</a> <a href="#"
							class="btn btn-lg btn-block btn-outline-primary">Show created
							teams</a> <a href="#"
							class="btn btn-lg btn-block btn-outline-primary">Show
							belonging teams</a>
					</div>
				</div>
			</div>


			<div class="card border-primary border-light mb-3 shadow">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">Settings</h4>
				</div>
				<div class="card-body p-3 m-0">
					<small class="text-muted mb-3 d-block">Modify settings for
						user and privacy settings.</small> <a href="#"
						class="btn btn-lg btn-outline-primary">User information</a> <a
						href="#" class="btn btn-lg btn-outline-primary">Privacy
						Settings</a>

				</div>
			</div>

		</div>
</body>
</html>