
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{fragments/main}">
<head>
<html>
<head>
<title>Register</title>

</head>
<body>

	<div data-layout-fragment="content">


		<div
			class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
			<h1 class="display-4">
				List of teams you created
			</h1>
			<p class="lead">Update your teams and members.</p>
		</div>

		<div th:if="${#lists.isEmpty(teams)}">
		<p class="text-center lead">You havent been added to a team.</p>
		</div>

<div th:if="${not #lists.isEmpty(teams)}">

<div class="bg-light rounded shadow">
		<table class="table table-striped table-hover text-center">
			<thead>
				<tr>
					<th scope="col">&nbsp;</th>
					<th scope="col">Title</th>
					<th scope="col">Number of members</th>
					<th class="text-center" scope="col">Options</th>

				</tr>
			</thead>
			<tbody>
			
				<tr th:each="team,iter : ${teams}">
					<td class="text-left" scope="row" th:text="${iter.index+1}">1</td>
					
					<td th:text="${team.title}">Title</td>
					<td th:text="${#lists.size(team.members)}">0</td>
					<td>
					<form class="text-center" th:action="${'/profile/removeFromTeam/'+team.teamId}" method="post">
						<input type="submit" class="btn btn-outline-primary" value="Remove from team">
					</form>
					</td>
				</tr>
			</tbody>
		</table>
</div>


 
</div>

	</div>
</body>
</html>